

body{
    font-family:'Merriweather' ;
}


h1 {
    font-weight: bold;
    font-family:'limelight' ;
    text-align: center;

}

h2 {
    font-weight: bold;
    text-align: center;
}

p {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

#navlist{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}


li{
display: ;
float: left;
border-right: 3px solid rgb(255, 255, 255);


}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  h3 {
      text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  section {
      margin-top: 100px;
      margin-bottom: 20px;
  }

 .sectionclass {
     border-top: black;
     border-left: white;
     border-right: white;
     border-style: dotted;
    }